# gitignore file. Put venv folders, databases, pycache etc. here.
.venv
.vscode
*/__pycache__/*
website/db.sqlite3
# test files:
website/adminops/static/adminops/*.png
website/adminops/static/adminops/*.gif
