<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'datalog/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src = "{% static 'datalog/index.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

 {% include "elephants/navbar.html" %}



<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2 align="center">Feeding Data</h2> 
<div style="text-align:center">
  <button type="button">Refresh</button>
  <h2>  </h2>
</div>


<table>
  <tr>
    <th>Unix Time</th>
    <th>Site Code</th>
    <th>Feeder</th>
    <th>RFID Tag Number</th>
  </tr>
  {% for item in FeedingData %}
    <tr> 
        <td>{{ item.unix_time }}</td>
        <td>{{ item.site_code }}</td>
        <td>{{ item.antenna_number }}</td>
        <td>{{ item.rfid_tag_number }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>

