<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'datalog/index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src = "{% static 'datalog/index.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
 {% include "elephants/navbar.html" %}
</head>

<body>
<br>
<div class="container text-center">
  <div class="jumbotron">
    <h1>Feeding Data</h1>
  </div>
  <button class="btn btn-primary">Refresh</button>
</div>
<br>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Unix Time</th>
        <th scope="col">Site Code</th>
        <th scope="col">Feeder</th>
        <th scope="col">RFID Tag Number</th>
      </tr>
    </thead>
    <tbody>
    {% for item in FeedingData %}
      <tr> 
          <td>{{ item.unix_time }}</td>
          <td>{{ item.site_code }}</td>
          <td>{{ item.antenna_number }}</td>
          <td>{{ item.rfid_tag_number }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>

