<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    {% include "elephants/navbar.html" %}

    <div class=container>
        <div class="jumbotron">
          <h1 class="text-center">Active Schedules</h1>
        </div>
    </div>

    <div class="container">
    <table class="table">
        <thread >
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Elephant</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Interval</th>
                <th scope="col">Max Feeds</th>
                <th scope="col">Feeder</th>
            </tr>
        </thread>
        <tbody>
            {% for schedule in schedules %}
                {% include "elephants/active_schedule_viewer_module.html" with schedule=schedule %}
            {%endfor %}
        </tbody>
    </table>
    </div>
</body>
</html>