{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


{% include "elephants/navbar.html" %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<br>
<div class=container>
    <div class="jumbotron">
      <h1 class="text-center">Add a schedule</h1>
    </div>
</div>

<div class="container">
    <div class="form-group">
        <form action="/elephants/presetscheduling?id={{ presetid }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>

