<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>


<body>
    {% include "elephants/navbar.html" %}

    <br>
    <div class=container>
      <div class="jumbotron">
        <h1 class="text-center">Presets</h1>
      </div>
    </div>

    <br>
    <div class="container">
        <div class="d-flex justify-content-center">
          <a href="/elephants" class="btn btn-primary mr-1">Done</a>
          <a href="/elephants" class="btn btn-primary mr-1">Cancel</a>
        </div>
    </div>
    <br>
    <div class="container">
        <h4>This week</h4>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <p>Sunday</p>
            <select class="form-select" aria-label="Default select example">
                <option value="1">Schedule One</option>
                <option value="2">Schedule Two</option>
                <option value="3">Schedule Three</option>
            </select>
          </div>
          <div class="col-sm">
            <p>Monday</p>
            <select class="form-select" aria-label="Default select example">
                <option value="1">Schedule One</option>
                <option value="2">Schedule Two</option>
                <option value="3">Schedule Three</option>
            </select>
          </div>
          <div class="col-sm">
            <p>Tuesday</p>
            <select class="form-select" aria-label="Default select example">
                <option value="1">Schedule One</option>
                <option value="2">Schedule Two</option>
                <option value="3">Schedule Three</option>
            </select>
          </div>
          <div class="col-sm">
            <p>Wednesday</p>
            <select class="form-select" aria-label="Default select example">
                <option value="1">Schedule One</option>
                <option value="2">Schedule Two</option>
                <option value="3">Schedule Three</option>
            </select>
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm">
                <p>Thursday</p>
                <select class="form-select" aria-label="Default select example">
                    <option value="1">Schedule One</option>
                    <option value="2">Schedule Two</option>
                    <option value="3">Schedule Three</option>
                </select>
            </div>
            <div class="col-sm">
                <p>Friday</p>
                <select class="form-select" aria-label="Default select example">
                    <option value="1">Schedule One</option>
                    <option value="2">Schedule Two</option>
                    <option value="3">Schedule Three</option>
                </select>
            </div>
            <div class="col-sm">
                <p>Saturday</p>
                <select class="form-select" aria-label="Default select example">
                    <option value="1">Schedule One</option>
                    <option value="2">Schedule Two</option>
                    <option value="3">Schedule Three</option>
                </select>
            </div>
            <div class="col-sm">
          </div>
      </div>
</body>
</html>