<div>

    <table class="table">
        <tr>
           id:{{ schedule.id }}
        </tr>
        <tr>
            {{ schedule.elephant }}
        </tr>
        <tr>
            start time:{{ schedule.start_time }}
            end_time: {{ schedule.end_time }}
            interval: {{ schedule.interval }}
            max feedings: {{ schedule.max_feeds }}
        </tr>
        <button>
          <a href="/elephants/deletepresetschedule?id={{ schedule.id }}&presetid={{presetid}}">Delete</a>
        </button>

    </table>

</div>