{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% url 'elephants:scheduling' as scheduling_url %}

{% include "elephants/navbar.html" %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<div>
    <table>
        <form action="{{ scheduling_url }}" method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Submit">
        </form>
    </table>
</div>

